<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="user_style.css" />
    <link rel="stylesheet" href="user_dados.css" />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="up_styler.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>usuario</title>
  </head>
  <body>
    <section id="sidebar">
      <a class="brand">
        <i class="bx bxs-smile"></i>
        <span id="debug" class="text"> <%- natax%></span>
      </a>
      <ul class="side-menu top">
        <li class="active">
          <a class="btx" onclick="selectDoc('pc')">
            <i class="bx bxs-dashboard"></i>
            <span class="text">Destino</span>
          </a>
        </li>
        <li class="active">
          <a class="btx" onclick="selectDoc('pgt')">
            <i class="bx bxs-dashboard"></i>
            <span class="text">Transporte</span>
          </a>
        </li>
        <li class="active">
          <a class="btx" onclick="selectDoc('p')">
            <i class="bx bxs-dashboard"></i>
            <span class="text">Data</span>
          </a>
        </li>


      </ul>
    </section>
    <section id="content">
      <nav>
        <i class="bx bx-menu"> </i>
      </nav>
      <div class="places">
        <div class="place-1">
          <span>Bilhetes Disponiveis</span>

          <div id="idDoc" style="display: block">
            <div class="head">
              <!-- <h3>Documentos</h3> --> 
              <div class="psqArea">
                <div>
                  <form onsubmit=" return resp();"  action="/user" method="post">
                    <input  id="pesquisa" name="pesq" type="search"></input>
                    <input id="cod" name="categ" type="text" style="display: none" ></input>
                    <input id='dpEmp0'name="emp" type="text" style="display: none" ></input>

                    

                    <button class="btnC" >Pesquisar</button>
                  </form>
                </div>
              </div>
            </div>
            <table>
              <thead>
                <tr>
                  <th>
                    <a style="margin-left: 200%"> Destino </a>
                  </th>
                  <th>
                    <a style="margin-left: 800%"> Data </a>
                  </th>
                </tr>
              </thead>
              <div></div>
            </table>
            <div class="pasta">
              <!-- Pesquisa!-->

              <!-- Lista de resul-->
              <div class="item-cont">
                <table>
                  <div>
                    <tbody>
                       <% for (let x =0;x<docs.length;x++){%>
                      <tr>
                        <td>
                          <a><%=  docs[x].destino %> </a>
                        </td>
                       <!--<td>01-10-2021</td>--> 
                       <% let dt = new Date(docs[x].data)  %>
                       <% let m= dt.getMonth()    
                          let d=dt.getDate()      
                          let a=dt.getFullYear() %>
                       <td> <span><%= (d+'/'+m+'/'+a) %></span> </td>
                        <td>
                          <form action="/book" method="post">
                                 <input style="display: none;" name="bId" value="<%=  docs[x]._id %>" >
                          
                          <button class="btnC" type="submit" onclick="alertar(`<%=  docs[x]._id %>`)">Comprar</button>
                        </form>
                        </td>
                      </tr>
                      <% }%>
                    </tbody>
                  </div>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="place-2">
          <div class="cenas">
            <div class="p"><h3 style ="color: wheat;">clica no botao abaixo pra fazer Upload de documento</h3></div>
           <!-- 
            <div class="download" onclick="abrir()">
              <img  src="download.png" alt="" class="img" />
              Guardar Documento
            </div>
-->


          </div>
        </div>
      </div>
    </section>
    <div class="pai" id="pai">
    
      <div class="cont">
        <form   action="/add/doc" method="post">
        <div class="dIput">
            <h5>Nome</h5>
            <input name="titulo" autocomplete="off" >
            <input id='dpEmp1'name="emp" type="text" style="display: none"></input>
        </div>

        <div class="dIput">
          <h5>Data</h5>
          
          <input class="dt"name="data" placeholder="Data" type="date">
          <input class="dt"name="dataFull" style="display:none;" type="date">
      
        </div>
        <div>
        <h5>Tipo de Documento</h5>

          <div class="dropdown">
            <input name="categ" id="docB" class="dropbtn" placeholder="Tipo" autocomplete="off" readonly  required></input>
            <div class="dropdown-content">
            <a class="escolha">Relatorio de Contas</a>
            <a class="escolha">Processos Correntes</a>
            <a class="escolha">Pagamento de Cmpostos</a>

            <a class="escolha">Pendentes</a>
            <a class="escolha">Preenchimento de Guias</a>
            <a class="escolha">Adicionar Informacao / ver</a>
            <input  id="cod12" style="display:none;"></input>
            </div>
          </div>
        </div>

      <div class="dIput">
        <h5>Ficheiro</h5>
        <input type="file" id="myFile" name="status" placeholder="Ficheiro">
        <button  type="submit" onclick="fechar()">Carregar</button>

   
      </div>
    </form>
    <button onclick="fechar()">Fechar</button>
      </div>encontra
      </div> 
    
   

  </div>

    <script src="userDocSelect.js"></script>
    <script src="upManager.js"></script>

    <script >
   

      let empC = document.getElementById("dpEmp0");
      let empC1 = document.getElementById("dpEmp1");
      let nomeEmp = '';

      

      //console.log(dc);   

         
     
      function parar(e){
       e.preventDefault();
}
    fechar();
    
        
         
        </script>


  </body>
</html>
